.main-auth {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $lightWhite;
    height: 100%;
    z-index: -1;
    width: 42.8%;
    //max-width: 800px;
  }
}
.auth {
  &-general__image {
    @include maxMedia($breakpoint-xl) {
      display: none;
    }
  }

  &-wrap-general {
    width: 100%;
  }
  &-wrap-item {
    min-height: calc(100vh - 62px);

    @include maxMedia($breakpoint-xl) {
      min-height: auto;
    }
  }
  &-wrap-items {
    display: flex;
    min-height: calc(100vh - 91px);
    @include maxMedia($breakpoint-xl) {
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 50px;
      min-height: auto;
    }
  }
  &-wrap-item {
    width: 40.5%;
    @include maxMedia($breakpoint-xl) {
      width: 100%;
    }
  }
  &-wrap-item {
    display: flex;
    align-items: center;
    background-color: $lightWhite;
  }
  &-wrap-item:not(.general) {
    width: 59.5%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: $baseWhite;
    padding-left: 140px;
    max-width: 795px;

    @include maxMedia($breakpoint-xl) {
      width: 100%;
      padding-left: 0px;
    }
  }
  &-general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 545px;

    @include maxMedia($breakpoint-xl) {
      max-width: 100%;
      align-items: center;
      width: 100%;
    }
  }
  &-general__image {
    width: 533px;
    max-width: 533px;
    max-height: 296px;
    margin-bottom: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-general__content {
    &-pretitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
      line-height: 32px;
      span {
        font-weight: 700;
      }
    }
    &-title {
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 80px;
      @include maxMedia($breakpoint-xl) {
        font-size: 28px;
      }
    }
    &-buttons {
      display: flex;
      :first-child {
        margin-right: 30px;
      }
      button {
        text-transform: uppercase;
      }
    }
  }
  // right side
  &-wrap-item__container {
    width: 100%;
    max-width: 460px;
    @include maxMedia($breakpoint-xl) {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 25px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 34px;
    @include maxMedia($breakpoint-md) {
      font-size: 18px;
    }
    &:after {
      bottom: -10px;
    }
  }
  &__subtitle {
    margin-bottom: 60px;
    line-height: 34px;
  }
  &__subtitle_less-margin {
    margin-bottom: 20px;
  }
  &__default {
    margin-bottom: 20px;
    position: relative;
    span {
      width: 22px;
      height: 15px;
      fill: $baseGray;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      &.active {
        svg path {
          fill: $baseOrange;
        }
      }
    }
  }
  &__remember-label {
    display: flex;
    align-items: center;

    .content-form__item-check {
      margin-right: 13px;
    }
  }
  &__btn-login {
    max-width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__reset-container {
    display: flex;
    justify-content: center;
    span {
      margin-right: 5px;
    }
  }
  &__reset-link {
    display: inline-block;
    color: $baseOrange;
    position: relative;
    text-align: center;
    text-decoration: underline;
    transition: 0.3s ease;
  }
}
.less-margin_bottom {
  margin-bottom: 20px;
}

// auth-type

.auth {
  &_flex {
    display: flex;
    align-items: center;
  }
  &-type_big-margin {
    margin-bottom: 55px;
  }
  &-wrap-item.auth-type_less-padd {
    padding-left: 60px;
    align-items: center;

    @include maxMedia($breakpoint-xl) {
      padding-left: 0px;
    }
  }
  &-type__steps {
    width: 100%;
    display: flex;
    margin-bottom: 62px;
    align-items: center;
  }
  &-type__step {
    min-width: 44px;
    width: 44px;
    height: 44px;
    border: 2px solid $baseBlack;
    background-color: $baseWhite;
    color: $baseBlack;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-type__step.active_step {
    border: none;
    background-color: $baseBlack;
    color: $baseWhite;
  }
  &-type__step-text {
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    @include maxMedia($breakpoint-md) {
      display: none;
    }
    span {
      width: max-content;
      padding-right: 20px;
      background-color: $baseWhite;
      position: relative;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      width: 95%;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: $baseBlack;
      z-index: -1;
    }
  }
  &-type__class-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    gap: 20px;
  }
  &-type__class-item {
    max-width: 119px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__class-item__top {
    width: 100%;
    max-width: 119px;
    height: 119px;
    background: $lightWhite;
    border: 2px solid $thirdlyGray;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50px;
      height: 30px;
    }
  }
  &__class-item__bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &-type__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(32, 140, 240, 0.1);
    min-height: 51px;
    margin-bottom: 20px;
    &-text {
      text-transform: uppercase;
      color: rgb(32, 140, 240);
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__agree-container {
    display: flex;
    span {
      margin-right: 10px;
    }
  }
}

// Notification

.auth {
  &-identification__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-identification__form-double {
    display: flex;
    justify-content: space-between;

    @include maxMedia($breakpoint-sm) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
.medium-margin_bottom {
  margin-bottom: 45px;
}
.less_input {
  max-width: 220px;

  @include maxMedia($breakpoint-sm) {
    max-width: 100%;
  }
}

//About company

.textarea__default {
  height: 260px;
}
.textarea_big {
  height: 100%;
}

//application
.auth {
  &-application__input {
    display: none;
  }
  &-application__list {
    display: flex;
    flex-direction: column;
    counter-reset: list;
    margin-bottom: 50px;
  }
  &-application__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::before {
      counter-increment: list;
      content: counter(list) ".";
      position: absolute;
      top: 0%;
      left: 0px;
    }
  }
  &-application__label {
    text-transform: uppercase;
    text-decoration: underline;
    color: $baseOrange;
    font-size: 14px;
    font-weight: 400;
  }
}

.auth__remember-text {
  font-size: 14px;
}

.password.auth__default {
  svg {
    cursor: pointer;
    path {
      transition: all 0.3s ease;
    }
    &:hover {
      path {
        fill: $baseOrange;
      }
    }
  }
}

.auth-general__content-buttons {
  .btn-default {
    min-width: 185px;
    text-transform: uppercase;
  }
}

.margin-offset .auth-general__image {
  margin-bottom: 90px;
}

.auth-general__content-pretitle.short-text {
  max-width: 370px;
}

.auth-type__class-item {
  &.active {
    border-color: $baseOrange;
  }
  cursor: pointer;
  &:hover {
    .auth__class-item__bottom {
      color: $baseOrange;
    }
  }
}

.auth-type__class-item.active {
  .auth__class-item__bottom {
    color: $baseOrange;
  }
}

.auth__class-item__bottom {
  transition: all 0.3s ease;
}

.auth-type__notification-text {
  margin-left: 10px;
}

.auth-type__step {
  transition: background-color 0.3s ease;
  &:hover {
    border: none;
    background-color: $baseBlack;
    color: $baseWhite;
  }
}

.auth-general__content-buttons {
  margin-bottom: 10px;
}

//free registation

.auth {
  &-wrap-item.auth-free__max_width {
    max-width: 100%;
  }
  &-wrap-item.auth-free__ai_start {
    align-items: flex-start;
  }
  &-free__container {
    width: 100%;
  }
  &-free__block {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
  &-free__title {
    margin-bottom: 35px;
  }
  &-free__subtitle {
    margin-bottom: 20px;
  }
  &-free-category__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @include maxMedia($breakpoint-sm) {
      flex-direction: column;
    }
  }
  &-free-category__item {
    flex: 1 1 33.33%;
    min-height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid $thirdlyGray;
    @include maxMedia($breakpoint-xl) {
      // width: 50%;
      max-width: 100%;
      flex: 1 1 45%;
      width: auto;
    }
    @include maxMedia($breakpoint-sm) {
      // width: 100%;
    }
    // &:not(:nth-last-child(-n + 3)) {
    //   margin-bottom: 20px;
    // }
    .content-form__item-check {
      margin-right: 0;
    }
  }
  &-free__category-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
  &-free__work-selects {
    display: flex;
    justify-content: space-between;
  }
  &-free__listings-option {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-free__listings-label {
    display: flex;
    align-items: center;
  }
  &-free-block__customer {
    margin-bottom: 100px;
  }
  &-free__buttons {
    display: flex;
    :first-child {
      margin-right: 30px;
    }
    button,
    a {
      text-transform: uppercase;
    }
  }
}

.auth-wrap-items .auth-wrap-item .settings-select__item {
  margin-bottom: 0;
}

.auth-layout .footer {
  display: none;
}

.auth-general__content-title {
  line-height: 36px;
}
