.users {
  &__title {
    padding-top: 37px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 30px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 36px;
      height: 4px;
      background: $baseOrange;
    }
  }
}

//.user-item {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  padding-bottom: 35px;
//  border-bottom: 1px solid $thirdlyGray;
//  margin-bottom: 30px;
//  &:last-child {
//    padding-bottom: 25px;
//    margin-bottom: 20px;
//    border-bottom: 0;
//  }
//}
//
//.user-item__details {
//  display: flex;
//  align-items: center;
//}
//
//.user-item__img {
//  width: 60px;
//  height: 60px;
//  border-radius: 8px;
//  position: relative;
//  margin-right: 20px;
//  overflow: hidden;
//  img {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//  }
//}
//
//.user-item__name {
//  transition: all .3s ease;
//  display: inline-block;
//  font-weight: 600;
//  margin-bottom: 6px;
//  &:hover {
//    color: $baseOrange;
//  }
//}
//
//.user-item__descr {
//  font-size: 14px;
//  color: $baseGray;
//}

//.user-btn-wrap {
//  min-width: 185px;
//  button {
//    text-transform: uppercase;
//  }
//}

.content-wrap__inner {
  display: flex;

  @include maxMedia($breakpoint-xl) {
    flex-direction: column;
  }
}
.partners.users {
  padding-right: 30px;
  width: 68.8%;

  @include maxMedia($breakpoint-xl) {
    width: 100%;
    padding-right: 0px;
    padding-top: 20px;
  }
}

.content-wrap.users {
  .search {
    width: 31.2%;

    @include maxMedia($breakpoint-xl) {
      width: 100%;
      order: -1;
    }
  }
}

.users__query {
  margin-bottom: 35px;
}
