.create-post {
  background: $lightWhite;
  border-radius: 8px;
  padding: 37px 40px 40px;
  margin-bottom: 44px;
  @include maxMedia($breakpoint-md) {
    padding: 30px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    &:after {
      content: "";
      width: 44px;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $baseOrange;
    }
    @include maxMedia($breakpoint-md) {
      font-size: 16px;
    }
    @include maxMedia($breakpoint-sm) {
      font-size: 14px;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    border-radius: $border-5;
    overflow: hidden;
  }
  &__input-wrap {
    width: calc(100% - 76px);
    position: relative;
  }
  &__input {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: 0;
    height: 76px;
    padding: 26px 55px 26px 20px;
    @include maxMedia($breakpoint-md) {
      height: 50px;
      padding: 15px 55px 15px 20px;
    }
    &::-webkit-input-placeholder {
      font-weight: 300;
      font-size: 16px;
    }
    &::-moz-placeholder {
      font-weight: 300;
      font-size: 16px;
    }
    &-ms-input-placeholder {
      font-weight: 300;
      font-size: 16px;
    }
  }
  &__expand-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-63%);
    cursor: pointer;
    svg path {
      transition: all 0.3s ease;
    }
    &:hover svg path {
      fill: $baseOrange;
    }
  }
  &__btn {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $baseBlack;
    @include maxMedia($breakpoint-md) {
      height: 50px;
    }
    svg path {
      transition: all 0.3s ease;
    }
    &:hover {
      svg path {
        fill: $baseOrange;
      }
    }
  }
}
.post-upload {
  display: flex;
  align-items: center;
  &__label {
    display: inline-block;
    cursor: pointer;
    input {
      display: none;
    }
    &:hover {
      svg path {
        fill: $baseOrange;
      }
    }
    svg path {
      transition: all 0.3s ease;
    }
  }
  &__item {
    margin-left: 30px;
  }
}
