//slide-fade-enter
.slide-fade-enter-active {
  transition: all 0.1s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}


//slide-fade-long
.slide-fade-long-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-long-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-long-enter,
.slide-fade-long-leave-to {
  opacity: 0;
}


//slide-fade-long-left
.slide-fade-long-left-enter-active,
.slide-fade-long-left-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-long-left-enter {
  opacity: 0;
  transform: translateX(-100%);
  position: relative;
}

.slide-fade-long-left-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.slide-fade-long-left-leave {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

.slide-fade-long-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
