@mixin minMedia($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin maxMedia($breakpoint) {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

@mixin isHoverMedia() {
  @media (hover: hover) {
    @content;
  }
}

@mixin container() {
  max-width: 1470px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
