$baseWhite: #ffffff;
$lightWhite: #f9f9fa;
$secondaryWhite: #f1f1f1;
$defaultBlack: #000000;
$baseBlack: #15171c;
$secondaryBlack: #181818;
$thirdlyBlack: #24272c;
$fourthlyBlack: #0d1c2e;
$fifthBlack: #434343;
$sixBlack: #212327;
$paleBlack: #30384c;
$baseGray: #7d869d;
$secondaryGray: #757e95;
$thirdlyGray: #eaeaef;
$fourthlyGray: #b6b6b6;
$fifthlyGray: #e5e5ec;
$sixtyGray: #f2f4f9;
$seventhGray: #ced4e3;
$eightGray: #e5e5e5;
$plusGray: #a5a5b8;
$defaultGray: #7d869d;
$baseOrange: #ed8f03;
$baseGreen: #5be269;
$lightGreen: #34a853;
$baseYellow: #f4c313;
$lightGreen: #5be269;
$lightBlue: #eff5fa;
$paleBlue: #76a9ff;
$basePink: #e25bd5;
$baseGreen: #10b264;
$dark: #888888;
$darkFrey: #555555;

$baseRed: #ff5e5e;
$paleRed: #eb4335;

$border-5: 5px;

$stat-100: #ffa825;
$stat-200: #ffbf5f;
$stat-300: #ffce85;
$stat-400: #ffe0b0;
$stat-500: #ffebcd;

$chart-100: #fc7d58;
$chart-200: #ffa825;
$chart-300: #22b0fc;
$chart-400: #eb67d0;
$chart-500: #38c976;

$overlayColor: rgba(0, 0, 0, 0.5);

$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 868px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1240px;
$breakpoint-xxl: 1380px;
$breakpoint-3xl: 1470px;
