$baseWhite: #FFFFFF;
$lightWhite: #F9F9FA;
$secondaryWhite: #f1f1f1;
$defaultBlack: #000000;
$baseBlack: #15171C;
$secondaryBlack: #181818;
$thirdlyBlack: #24272C;
$fourthlyBlack: #0D1C2E;
$fifthBlack: #434343;
$sixBlack: #212327;
$paleBlack: #30384C;
$baseGray:  #7D869D;
$secondaryGray: #757E95;
$thirdlyGray: #EAEAEF;
$fourthlyGray: #B6B6B6;
$fifthlyGray: #E5E5EC;
$sixtyGray: #F2F4F9;
$seventhGray: #CED4E3;
$eightGray: #E5E5E5;
$plusGray:  #A5A5B8;
$defaultGray: #7D869D;
$baseOrange: #ED8F03;
$baseGreen: #5BE269;
$lightGreen: #34A853;
$baseYellow: #F4C313;
$lightGreen: #5BE269;
$lightBlue: #EFF5FA;
$paleBlue: #76A9FF;
$basePink: #E25BD5;
$baseGreen: #10B264;
$dark: #888888;
$darkFrey: #555555;

$baseRed: #FF5E5E;
$paleRed: #EB4335;

$border-5: 5px;

$stat-100: #FFA825;
$stat-200: #FFBF5F;
$stat-300: #FFCE85;
$stat-400: #FFE0B0;
$stat-500: #FFEBCD;

$chart-100: #FC7D58;
$chart-200: #FFA825;
$chart-300: #22B0FC;
$chart-400: #EB67D0;
$chart-500: #38C976;



$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 868px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1240px;
$breakpoint-xxl: 1380px;
$breakpoint-3xl: 1470px;
